#job .logo
{
  float: right;
}

#job h1
{
  height: 22px;
  float: left;
  color: #114f6f;
  padding: 14px 20px 0 0;
  font-size: 18px;
}

#job h2
{
  color: #114f6f;
  height: 18px;
  height: 26px;
  line-height: 36px;
  vertical-align: bottom;
  padding: 26px 0 4px 0;
  border-bottom: 1px solid #c74314;
  font-family: Verdana, Arial, sans-serif;
}

#job h3
{
  font-family: Calibri, Gill Sans, Arial, Verdana, sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 20px 0 0 0;
  color: #c74314;

}

#job h3 small
{
  font-size: 70%;
  color: #707070;
}

#job h4
{
  font-size: 110%;
  margin: 20px 0 7px 0;
  font-weight: bold;
  float: left;
  width: 280px;
  padding-left: 30px;
  color: #c74314;
  font-family: Verdana, Arial, sans-serif;
}

#job .how_to_apply
{

  float: left;
  padding-left: 30px;
  width: 280px;
  font-size: 12px;
  line-height: 18px;
  color: #707070;
  font-family: Verdana, Arial, sans-serif;
}	

#job .description
{
  font-size: 105%;
  line-height: 1.4em;
  font-family: Verdana, Arial, sans-serif;
  float: left;
  width: 620px;
  margin: 20px 0 30px 0;
  
}

#job_actions
{
  margin: 3px 0;
  padding: 7px;
  padding-left: 0;
  background-color: #ffc;
  list-style: none;
}

#job_actions ul
{
  display: inline;
}

#job_actions h3
{
  display: inline;
  font-weight: bold;
  margin-right: 15px;
  padding: 7px;
  background-color: #eee;
}

#job_actions li
{
  display: inline;
  margin-right: 7px;
}

.expires_soon
{
  color: red;
}

#job_form
{
  width: 100%;
}

#job_form th
{
  white-space: nowrap;
  font-style: italic;
}

#job_form td, #job_form th
{
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  text-align: left;
  vertical-align: top;
  padding: 7px;
}

#job_form tfoot td, #job_form tfoot th
{
  border: 0;
  text-align: right;
}

#job_form .radio_list li
{
  display: inline;
}

.meta
{
  clear: left;
  color: #77766F;  
  background-color: #f3f3f3;
  color: #707070;
  text-align: right;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
  padding: 12px 10px 13px 0;
  border-top: 2px solid #c74314;
}
