.category .feed
{
  margin: 4px;
  float: right;
}

.jobs
{
  width: 100%;
  border-bottom: 2px solid #c74314;
}

.jobs tr.even
{
  background-color: #ffffff;
}

.jobs tr.odd
{
  background-color: #e7eff3;
}

.jobs td
{
  padding: 0 10px 0 10px;
  height: 36px;
}

.jobs .location
{
  color: #adadad;
  font-weight: bold;
  width: 15%;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

.jobs .company
{
  width: 20%;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: right;
  padding-right: 10px;
}
.jobs .odd .company
{
  color: #2184b7; 
}
.jobs .even .company
{
  color: #114f6f; 
}


.jobs .position
{
  width: 65%;
  font-family: Calibri, Gill Sans, Verdana, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.jobs .position a
{
	text-decoration: none;
}
.jobs .odd .position a
{
  color: #114f6f; 
}
.jobs .even .position a
{
  color: #2184b7; 
}


.more_jobs
{
  height: 33px;
  margin-top: 1px;
  background-color: #f3f3f3;
  color: #707070;
  text-align: right;
  font-family: Verdana, Arial, sans-serif;
  line-height: 33px;
  font-size: 11px;
  font-weight: bold;
  padding-right: 10px; 
}

.pagination_desc
{
  margin-left: 15px;
  margin-top: 10px;
  font-style: italic;
}

.pagination
{
  margin-top: 10px;
  float: right;
}

.pagination a
{
  margin-right: 4px;
}

.pagination img
{
  vertical-align: middle;
}
