/* Logo
------------------------------------------------------------- */
#job  {  padding:0 20px 50px 20px;}
#job .logo { float:right; height:200px; margin: 0px 0 20px 30px; padding:20px 0 0 30px; border-left:1px solid #e1dcbb;}


/* Title
------------------------------------------------------------- */
#job h1 {  font-size: 200%; padding:0 0 0 110px; background: url(../images/ico-paperclip.png) no-repeat 15px 5px; margin-left:-70px;}
#job h2 {  font-size: 120%;  font-style: italic;  padding:0 0 30px 40px; border-bottom:1px solid #e1dcbb;}
#job h3 {  font-size: 150%;  margin: 15px 0;  padding: 20px 0px;  font-weight: bold;}
#job h3 small {  font-size: 70%;}
#job h4 {  font-size: 110%;  margin: 20px 0 7px 0;  font-weight: bold; }



/* Description
------------------------------------------------------------- */
#job .description {  font-size: 105%;  line-height: 1.4em;}

#job_actions {  margin: 3px 0;  padding: 7px;  padding-left: 0;  background-color: #ffc;  list-style: none;}
#job_actions ul {  display: inline;}
#job_actions h3 {  display: inline;  font-weight: bold;  margin-right: 15px;  padding: 7px;  background-color: #eee;}
#job_actions li {  display: inline;  margin-right: 7px;}

.expires_soon {  color: red;}


/* Form
------------------------------------------------------------- */

#job_form {  width: 100%;}
#job_form th {  white-space: nowrap;  font-style: italic;}
#job_form td, #job_form th {  border-bottom: 1px solid #eee;  border-top: 1px solid #eee;  text-align: left;  vertical-align: top;  padding: 7px;}
#job_form tfoot td, #job_form tfoot th {  border: 0;  text-align: right;}
#job_form .radio_list li {  display: inline; }

#job_form label { padding-left:30px;  background: url(../images/ico-label.png) no-repeat 15px 6px;}

.meta {  float: left;  font-weight:bold;  padding:5px 10px 8px 10px; background-color:#b1a971; color: #FFF; margin-top:20px;}
