/* RSS Feed
------------------------------------------------------------- */
.category .feed {  margin: 4px; float: right; }
.category {  margin-bottom:25px;  background: transparent url(../images/background-category.png) no-repeat bottom center;}


/* Jobs
------------------------------------------------------------- */

.jobs { width: 100%; margin:0 0 45px 0;}
.jobs tr.even {  background-color: #fff; }
.jobs tr.odd {  background-color: #f2f1ef; }
.jobs td {  padding: 12px 15px; }

.jobs .even .location { background-color:#fff;}
.jobs .odd .location { background-color:#f2f1ef; }


.jobs .location { color: #524F46;  width: 30%;  background: url(../images/ico-location.png) no-repeat 15px 10px;  padding-left: 50px;}
.jobs .company {   color: #E73E00;   width: 30%; }
.jobs .position {   color: #524F46;  width: 40%;}

.more_jobs { float: right;}
.more_jobs a { font-size:170%; padding:0 5px; color:#ec4400;}



/* Pager
------------------------------------------------------------- */
.pagination_desc { margin-left: 20px; font-style: italic; }
.pagination_desc strong{ color:#e73e00; padding:0 5px;  font-size:115%;}


.pagination {  margin-right: 20px;  float: right; font-size:110%;}
.pagination a {  margin-right: 5px; }
.pagination img {  vertical-align: middle; }
