

#job p {
	font-size: 14px;
}

#job .logo
{
  float: left;
  margin-bottom: -110px;
  margin-right: 20px;
  position: relative;
  top: -100px;
}

#job h1
{
  font-size: 18px;
  height: 35px;
  
}

#job h2
{
  font-size: 110%;
  font-style: italic;
  position: relative;
  top: -25px;
  left: 15px;
  margin-bottom: -20px;
}

#job h3
{
  font-size: 18px;
  margin: 15px 0;
  padding: 10px 0;
  font-weight: bold;
  margin-top: 70px;
}

#job h3 small
{
  font-size: 12px;
  background: url(../images/position-bg.png) no-repeat 5px 0;
  color: #fff;
  position: relative;
  display: inline;
  text-indent: -20px;
  text-transform: uppercase;
  padding-right: 4px;
}

#job h4
{
  font-size: 14px;
  margin: 20px 0 7px 0;
  font-weight: bold;
}

#job .description
{
  font-size: 14px;
  line-height: 20px;
}

#job_actions
{
  margin: 3px 0;
  padding: 7px;
  padding-left: 0;
  background-color: #ffc;
  list-style: none;
}

#job_actions ul
{
  display: inline;
}

#job_actions h3
{
  display: inline;
  font-weight: bold;
  margin-right: 15px;
  padding: 7px;
  background-color: #eee;
}

#job_actions li
{
  display: inline;
  margin-right: 7px;
}

.expires_soon
{
  color: red;
}

#job_form
{
  width: 100%;
}

#job_form th
{
  white-space: nowrap;
  font-size: 14px;
  
}

#job_form td, #job_form th
{
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  text-align: left;
  vertical-align: top;
  padding: 7px;
}

#job_form input {
	font-size: 12px;
	width: 275px;
	height: 22px;
	vertical-align: middle;
}

#job_form br {
	display: none;
}

#job_form #job_is_public {
	margin-right: 5px;
}

#job_form textarea {
	width: 280px;
	font-size: 12px;
}

#job_form tfoot td, #job_form tfoot th
{
  border: 0;
}

#job_form .radio_list li
{
  display: inline; margin-right: 5px;
}

#job .meta {
	position: absolute;
	top: 60px;
	right: 15px;
	  color: #77766F;
	  font-size: 17px;
}
