.category h1:before {
	content: "You are browsing: ";
}

#jobs .category h1:before {
	content: none;
}

.category .feed
{
  margin: 4px;
  float: right;
}

.jobs
{
  width: 100%;
  font-size: 14px;
}

.jobs a {
  color: #ff7f10;
}

.jobs tr.even
{
  background-color: #ebf5f8;
}

.jobs tr.odd
{
  background-color: #fff;
}

.jobs td
{
  padding: 12px 15px;
}

.jobs .location
{
  color: #524F46;
  font-weight: bold;
  width: 30%;
}

.jobs .company
{
  color: #524F46;
  width: 30%;
}

.jobs .position
{
  color: #524F46;
  width: 40%;
}

.more_jobs
{
  display: block;
  font-size: 18px;
  background: url(../images/pagination-bg.png) repeat-x;
  padding: 10px;
  margin-top: 40px;
  text-align: center;
}

.pagination_desc
{
  padding: 10px;
  font-size: 14px;
  float: left;
  position: relative;
  top: -74px;
  background: url(../images/pagination-desc-bg.png) repeat-x;
  z-index: 1000;
  border: 1px solid #d0d0d0;
}

.pagination
{
	position: relative;
  margin-top: 70px;
display: block;
  font-size: 14px;
    background: url(../images/pagination-bg.png) repeat-x;
    padding: 10px;
    text-align: center;
    z-index: 1001;
}

.pagination a
{
  margin-right: 10px;
  padding-left: 20px;
}

.pagination img
{
  vertical-align: middle;
}
