.category .feed
{
  margin: 4px;
  float: right;
}

.jobs
{
  width: 100%;
}

.jobs tr.even
{
  background-color: #f6f4e6;
}

.jobs tr.odd
{
  background-color: #fff;
}

.jobs td
{
  padding: 12px 15px;
}

.jobs .location
{
  color: #524F46;
  width: 30%;
}

.jobs .company
{
  color: #E73E00;
  width: 30%;
}

.jobs .position
{
  color: #524F46;
  width: 40%;
}
.jobs .position a
{
  color: #524F46;
  width: 40%;
  text-decoration: none;
}
.jobs .position a:hover
{
  color: #524F46;
  width: 40%;
  border-bottom: 1px solid #77735b;
  text-decoration: none;
}
.jobs .position a:focus
{
  border-bottom: 2px solid #77735b;
}
.more_jobs
{
  float: right;
}

.pagination_desc
{
  margin-left: 15px;
  margin-top: 10px;
  font-style: italic;
}

.pagination
{
  margin-top: 10px;
  float: right;
}

.pagination a
{
  margin-right: 4px;
  text-decoration: none;
  display: block;
  padding: 4px;
  float: left;
}
.pagination a.num{
 border: 1px solid #e1dcbb;
}
.pagination a.select
{
background: #e1dcbb;
}


.pagination a.num:hover
{
  margin-right: 4px;
  border: 1px solid #77735b;
}


.pagination img
{
  vertical-align: middle;
}
